@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400&display=swap');

*{
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding:0;
    margin:0;
}


body {
    background-image: linear-gradient(#343a40bc 20%,#0000009b 70%), url(images/black1.webp);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}
#d1{
    background-color:transparent;
    width:fit-content;
    height:fit-content;
    position:absolute;
    top:40px;
    left:40px;

}
#d2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: #343a40d0;
    width: 400px;
    height: 500px;
    margin-top: 50px;
    border-radius: 40px;
    border: dashed;
   
}
#d2:hover {
    box-shadow: 0 0 5px wheat;
}
#main-word {
    display: flex;
    justify-content: center;
    height: fit-content;
}
#main-word h1{
    color:white;
}
#main-word h1:hover{
    color:wheat;
    cursor:help;
}
#main-word1 h3:hover{
    color:wheat;
    cursor:help;
}
#main-word2 h3:hover {
    color: wheat;
    cursor: help;
}
#b1 {
    width: 100px;
    height: 50px;
    border: 4px double;
    border-radius: 3px 3px;
    color: white;
    font-size: medium;
    background-color: transparent;
}
#b1:hover{
    border:dashed;
    background-color:#343a40d0;
    color:wheat;
}
.container {
    display: flex;
    justify-content: space-between; /* Create space between elements */
    align-items: center; /* Center items vertically */
    height: 100vh;
    gap:100px;
}

#d2 h1{
    
    color:wheat;
    text-align:center;
    position:relative;
    top:-100px;
    
}

#d2 .input{
    position:relative;
    width:300px;
    height:35px;
    margin-bottom:40px;
    
}
#d2 .input input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
    border: 2px solid wheat;
    border-radius:40px;
    color:#f5c368;
    box-shadow: 0 0 4px #fff;
    
}
#d2 .input input::placeholder{
    color:#f5deb3ad;
}
#d2 .input i{
    color:wheat;
    position:absolute;
    right:-20px;
    top:40%;
    transform:translateY(-50%);

}
#d2 a{
    position:absolute;
    bottom:275px;
    color:wheat;
    text-decoration:none;
}
#d2 .btn {
    color: wheat;
    background-color: #343a40d0;
    border: solid;
    border-color: wheat;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    position: relative;
    bottom: -10px;
    left: 75px;
    box-shadow: 0 0 4px #fff;
}
#d2 input[placeholder]:focus{
    box-shadow: 0 0 10px #fff;
}
#d2 .btn:hover {
    box-shadow: 0 0 10px #fff;
}
.footer {
    color: #fff;
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: wheat;
}

@media (min-width: 467px) and (max-width: 768px) {
    #d1 {
        left: 10px;
    }

    .container {
        flex-direction: column;
        gap: 0px;
    }

   
   
}
@media (min-width: 601px) and (max-width: 768px) {
     
}
@media (min-width: 768px) and (max-width: 992px) {
    #main-word2 {
        display: block; /* Show main-word2 */
    }

    .container {
        flex-direction: row; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

   
   
}
@media (min-width: 992px) and (max-width: 1200px) {
   
   
}