@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400&display=swap');

*{
    font-family: "Briem Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding:0;
    margin:0;
    scroll-behavior:smooth;
}

.scrollable-content {
    overflow:auto;
}
body {
    background-image: linear-gradient(#343a40bc 20%,#0000009b 70%), url(images/black1.webp);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}
#d1{
    background-color:transparent;
    width:fit-content;
    height:fit-content;
    position:absolute;
    top:40px;
    left:40px;

}
#main-word {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin:0;
}
#main-word1 {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: 0;
}
#main-word2 {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: 0;
}
#main-word h1{
    color:white;
}
#main-word h1:hover{
    color:wheat;
    cursor:help;
}
#main-word1 h3:hover{
    color:wheat;
    cursor:help;
}
#main-word2 h3:hover {
    color: wheat;
    cursor: help;
}
#b1 {
    width: 100px;
    height: 50px;
    border: 4px double;
    border-radius: 3px 3px;
    color: white;
    font-size: medium;
    background-color: transparent;
}
#b1:hover{
    border:dashed ;
    background-color:#343a40d0;
    color:wheat;
}


#hr1 {
    color: white;
    border: ridge;
    height: 10px;
}

#hr2 {
    color: white;
    border: ridge;
    height: 10px;
}


#jum1{
    width:200%;
}
.carousel-item h3{
    color:white;
    position:absolute;
    top:0px;
    right:150px;
    

}
.carousel-item p{
    position:absolute;
    color:wheat;
    flex-wrap:wrap;
    font-size:25px;
    top:50px;
    left:520px;
}



.carousel-item img {
    width: 500px;
    height: 400px;
    border:dotted;
    border-color:antiquewhite;
}

.carousel-inner h2 {
    color: #a6b9c4;
}

.carousel-indicators {
    position: absolute;
    top: 420px;
    bottom: 150px;
}

section.container {
    display: flex;
    justify-content: space-between; /* Create space between elements */
    align-items: center; /* Center items vertically */
    height: 100vh;
    gap: 100px;
}

.me {
    display: flex;
    justify-content: left;
    border-color: white;
    border: groove;
    color: wheat;
    width: 50%;
    height: 50vh;
    top: 500px;
}

#me1 {
    display: flex;
    float: left;
    flex-wrap: wrap;
}

#me1 h3 {
    text-align: center;
    width: 100%;
}

#me2 {
    display: flex;
    float: right;
    flex-wrap: wrap;
}

#me2 h3 {
    text-align: center;
    width: 100%;
}

.footer {
    
    color: #fff;
    padding-top: 8em;
    padding-bottom:1em;
    display: flex;
    justify-content: space-between;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: wheat;
}

@media (min-width: 467px) and (max-width: 768px) {
    #d1 {
        left: 2px;
        top:50px;
    }
    body {
        overflow-x: hidden;
    }
    
}


@media (min-width: 467px) and (max-width: 768px) {
    #d1 {
        left: 10px;
    }

    .container {
        flex-direction: column;
        gap: 0px;
    }

    .me {
        width: 100%;
        margin-top: 50px;
    }

    #me4 p {
        font-size: small;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

    .me {
        width: 100%;
        
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #main-word2 {
        display: block; /* Show main-word2 */
    }

    .container {
        flex-direction: row; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    .me {
        width: 100%;
        height: 75vh;
    }
   
   
}

@media (min-width: 992px) and (max-width: 1200px) {
    .me p {
        font-size: small;
    }
   
}